@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Nunito", sans-serif;
  
  --color-brand-terracotta: #D2691E;
  --color-brand-cream: #FAF9F6;
  --color-brand-olive: #556B2F;
  --color-brand-saffron: #F4C430;
  --color-brand-deep-orange: #9C4221;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
